body {
  background: black;
  color: silver;
  font-family: Arial, sans-serif;
  text-align: center;
}

h1 {
  color: white;
}

#wrap {
  max-width: 800px;
  margin: 0 auto;
}

#output {
  margin: 2em 1em;
  text-align: left;
  font-family: 'Crimson Text', serif;
  font-size: 1.1em;
  line-height: 1.5;
  color: rgb(255, 255, 255);
}
#output .title {
  color: white;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 30px;
}
#output ul {
  color: blue;
}
#output ul li {
  margin: 1em;
}
#output ul a {
  color: rgb(170, 222, 240);
  font-family: 'Chonburi';
  font-size: 14pt;

}
#output ul a.win {
  color: rgb(6, 179, 6);
}
#output ul a.lose {
  color: rgb(241, 241, 241);
}
#output ul a:hover {
  color: white;
}
#output .inv {
  color: rgb(253, 220, 220);
  font-size: 0.8em;
  padding-top: 2em;
}
